@import 'bootstrap/scss/bootstrap';
@import "reset";
@import "variables";
@import "fonts";
@import "./block/header";
@import "./block/button";
@import "./block/offcanvas";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: var(--regular-font), serif;
  color: #000;
}

main {
  background: #F6F7F9;
  min-height: calc(100vh - 70px);
}

main .button--add {
  display: none;
}

.emptyContacts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 95px);
}

@media (max-width: 576px) {
  main .button--add {
    display: inline-block;
  }
  .emptyContacts {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 134px);
  }
}



